@model List<And.Eticaret.Core.Model.Entity.Product>
@{
    ViewBag.Title = "Index";
    var isLogin = (bool)ViewBag.IsLogin;
}

<h3>Son 5 Ürün</h3>
@{
    foreach (var item in Model)
    {
        <div class="productBox">
            <p class="title">@item.Name </p>
            <img src="@item.ImageUrl" />
            <p>
                @item.Brand
            </p>
            <p>
                @item.Price.ToString("##,## ₺")
            </p>
            <p>
                @item.Description
            </p>
            <a href="/urun/@item.Name.Replace(" ","-")/@item.ID" class="btn btn-success">İncele</a>
            @{
                if (isLogin)
                {
                    <a href="#" data-pID="@item.ID" class="btn btn-default addBasket"><i class="fas fa-shopping-basket"></i>Sepete At</a>
                }
            }
        </div>
    }
}
<div id="andModal" title="Teşekkürler :)">
    Ürününüz Septe Atılmıştır <br />
    <a href="/sepetim" class="btn btn-success">Sepete git</a>
</div>
<div class="row"></div>
<style>
    .productBox {
        width: 200px;
        float: left;
        margin: 10px;
        border: 2px solid #b9b9b9;
        padding: 10px;
    }

        .productBox img {
            width: 100%;
        }

        .productBox .title {
            font-weight: bold;
            text-align: center;
        }

        .productBox p {
            text-align: center;
        }
</style>
@section script{
    <script type="text/javascript">
        $(function () {
            $("#andModal").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });

            $(".addBasket").on("click", function () {
                var pid = $(this).attr("data-pID");
                $.post("/Basket/AddProduct?productID=" + pid + "&quantity=1", function (data) {
                    $("#andModal").dialog("open");
                });
                return false;
            });
        });
    </script>
}

