@model And.Eticaret.Core.Model.Entity.Order
@{
    ViewBag.Title = "Sipariş Detayı";
}

<h2>@Model.ID Nolu Siparişinizin Durumu : @Model.Status.Name</h2>
<hr />
<b>Banka Bilgileri</b>
<table>
    <tr>
        <td>Banka</td>
        <td>Banka İsmi</td>
    </tr>
    <tr>
        <td>İban</td>
        <td>TR09858889986489658</td>
    </tr>
    <tr>
        <td>Alıcı Adı</td>
        <td>Firma Bİlgileri</td>
    </tr>
</table>
@{
    if (Model.StatusID == 2)
    {
        <a href="/Order/Pay?id=@Model.ID" class="btn btn-success">Ödeme Yaptım</a>
    }
}
<hr />
<b>Sipariş Bilgileri</b>
<table>
    <tr>
        <td>Toplam</td>
        <td>@Model.TotalPrice.ToString("##,## ₺")</td>
    </tr>
    <tr>
        <td>Ürünler Toplamı</td>
        <td>@Model.TotalProductPrice.ToString("##,## ₺")</td>
    </tr>
    <tr>
        <td>İndirim Toplamı</td>
        <td>@Model.TotalDiscount.ToString("##,## ₺")</td>
    </tr>
    <tr>
        <td>Vergi Toplamı</td>
        <td>@Model.TotalTaxPrice.ToString("##,## ₺")</td>
    </tr>
</table>
<hr />
<b>Ürünler</b>
<table>
    <tr>
        <th>Ürün</th>
        <th>Adet</th>
    </tr>
    @{
        foreach (var item in Model.OrderProducts)
        {
            var p = new And.Eticaret.Core.Model.AndDB().Products.Where(x => x.ID == item.ProdcutID).FirstOrDefault();
            <tr>
                <td>@p.Name</td>
                <td>@item.Quantity</td>
            </tr>
        }
    }
</table>

